# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log

# Docker
*.log
*.tmp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform local files
tfplan
tfplan2
terraform.tfvars
*.auto.tfvars